h3{
  margin-top: 40px;
}
.indent{
  margin-left: 15px;
}
.color{
  background: rgb(255, 182, 194);
}

body {
  background-color: #f2f2f2;
  padding: 20px;
}
.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}
.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.messages {
  margin-top: 50px;
  list-style: none;
}
.message {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.message .fa, .message .fa-solid {
  margin-left: 5px;
  cursor: pointer;
}
.indent {
  margin-left: 20px;
}
.color {
  color: #999;
}
ul{
  padding: 0;
}
.margin-left{
  margin-left: 10px;
}
h1{
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #6e5cb8;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #6e5cb8;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}